body{
    color: #444444;
    font-family: sans-serif, Helvetica;
}

.red{color:red;}
.green{color:green;}
.top-buffer { margin-top:20px; }

tr > th,td{
    text-align: center;
    font-size: 11px;
}

#tab1row{
    height:200px;
    overflow: hidden;
}